# Laboratorio: Operazioni avanzate con pandas

**Programmazione di Applicazioni Data Intensive**  
Laurea in Ingegneria e Scienze Informatiche  
DISI - Università di Bologna, Cesena

Proff. Gianluca Moro, Roberto Pasolini  
`nome.cognome@unibo.it`

In questo laboratorio riprendiamo il dataset Rossmann utilizzato nel laboratorio precedente per vedere alcune operazioni più avanzate per la manipolazione dei dati in pandas.

Iniziamo come al solito importando le librerie necessarie con i rispettivi alias.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Caricamento dati

Riutilizziamo i due file con i dati Rossmann che abbiamo usato la scorsa volta:

- il file `rossmann-sales.csv` con i dati giornalieri delle vendite di 1.115 negozi nell'arco di luglio 2015
- il file `rossmann-stores.csv` con informazioni generali sugli stessi negozi

In [ ]:
BASE_URL = "https://github.com/datascienceunibo/dialab2024/raw/main/Preprocessing_con_pandas"
SALES_URL = f"{BASE_URL}/rossmann-sales.csv"
STORES_URL = f"{BASE_URL}/rossmann-stores.csv"

La scorsa volta abbiamo caricato i file con la funzione `read_csv` lasciando tutte le impostazioni di default e correggendo a posteriori i tipi delle singole colonne.

Questa volta vediamo come impostare a priori i tipi delle colonne usando i parametri di `read_csv`. Iniziamo caricando il file `rossmann-sales.csv`.

Col parametro `dtype` possiamo indicare in un dizionario il tipo da attribuire a ciascuna singola colonna identificata per nome. Le colonne non indicate in `dtype` vengono interpretate come di consueto (come numeri se possibile, altrimenti come stringhe).

Usiamo `dtype` per indicare esplicitamente le colonne di tipo booleano e categorico, mentre la colonna `Date` di tipo data la indichiamo nel parametro `parse_dates` per indicare che bisogna interpretare le date scritte in formato standard.

In [ ]:
sales_data = pd.read_csv(
    SALES_URL,
    dtype={
        "Open": bool,
        "Promo": bool,
        "StateHoliday": "category",
        "SchoolHoliday": bool,
    },
    parse_dates=["Date"],
)

Possiamo verificare che sia i dati che il formato delle colonne corrispondono a quelli che avevamo ottenuto la scorsa volta dopo le conversioni di tipo.

In [ ]:
sales_data

In [ ]:
sales_data.info(memory_usage="deep")

Per caricare il file `rossmann-stores.csv` utilizziamo di nuovo il parametro `dtype` per impostare i tipi delle colonne. Usiamo inoltre `index_col` per indicare il nome di una colonna che dovrà essere utilizzata come indice al posto di quello predefinito (numeri sequenziali da 0 a N-1).

In [ ]:
stores_data = pd.read_csv(
    STORES_URL,
    index_col="Store",
    dtype={
        "StoreType": "category",
        "Assortment": "category",
        "Promo2": bool,
        "PromoInterval": "category",
    },
)

Anche in questo caso otteniamo i dati nella forma in cui li avevamo portati la scorsa volta.

In [ ]:
stores_data

In [ ]:
stores_data.info(memory_usage="deep")

Applichiamo anche gli altri passaggi svolti nel precedente laboratorio:

- uniamo i due frame caricati per ottenere un unico frame che qui chiameremo `sales`, contenente sia le informazioni sulle vendite che quelle sui singoli negozi,
- selezioniamo da `sales` solo le righe relative a coppie giorno-negozio in cui il corrispondente negozio era aperto.

In [ ]:
sales = pd.merge(sales_data, stores_data, left_on="Store", right_index=True)
sales = sales.loc[sales["Open"]].drop(columns=["Open"])

Prima di proseguire, scegliamo di ordinare le righe in primo luogo per data crescente e a parità per ID negozio crescente. Usiamo `sort_values` passando la lista con i nomi delle colonne.

In [ ]:
sales = sales.sort_values(["Date", "Store"])

Per migliorare l'interpretabilità dei risultati successivi, sostituiamo inoltre ai numeri nella colonna `DayOfWeek` i nomi abbreviati dei giorni della settimana. Una volta definito un dizionario che mappa ciascuno dei valori distinti attualmente nella colonna al valore con cui si vuole sostituire...

In [ ]:
index_to_day_of_week = {
    1: "Mon",
    2: "Tue",
    3: "Wed",
    4: "Thu",
    5: "Fri",
    6: "Sat",
    7: "Sun",
}

...possiamo usare il metodo `map` per ottenere una colonna con i valori sostituiti, che convertiamo poi a categorica.

In [ ]:
sales["DayOfWeek"] = sales["DayOfWeek"].map(index_to_day_of_week).astype("category")

Stampiamo il frame risultante allo stato attuale.

In [ ]:
sales

Riepiloghiamo i significati delle colonne:

- `Store`: identificatore del negozio, un intero da 1 a 1.115
- `DayOfWeek`: giorno della settimana
- `Date`: data a cui si riferiscono i dati
- `Sales`: ricavo totale del negozio nella giornata _(valuta non indicata, assumeremo in Euro)_
- `Customers`: numero di clienti del negozio nella giornata
- `Promo`: indica se una promozione era in corso nel negozio (1 = in corso, 0 = non in corso)
- `StateHoliday`: indica se nella data c'era una festività e di quale tipo (`a` = festa nazionale, `b` = Pasqua, `c` = Natale, 0 = nessuna festività)
- `SchoolHoliday`: indica se nella data le scuole erano chiuse (1 = chiuse, 0 = aperte)
- `StoreType`: lettera che distingue la tipologia di negozio (`a`, `b`, `c` o `d`)
- `Assortment`: livello di assortimento dei prodotti nel negozio (`a` = base, `b` = extra, `c` = esteso)
- `CompetitionDistance`: distanza in metri dal punto vendita concorrente più vicino
- `CompetitionOpenSinceMonth` e `CompetitionOpenSinceYear`: mese e anno in cui il punto vendita concorrente più vicino è stato aperto
- `Promo2`: indica se il negozio prende parte a una promozione continuativa (0 = no, 1 = sì)
- `Promo2SinceWeek` e `Promo2SinceYear`: numero di settimana e anno a partire dai quali il negozio prende parte alla `Promo2`
- `PromoInterval`: mesi dell'anno in cui il negozio avvia la `Promo2`

### Esercizio 1: Ripasso

- **(1a)** Estrarre da `sales` le righe relative ai casi in cui ci sono stati almeno 4.000 clienti in un giorno.
- **(1b)** Ottenere il ricavo medio giornaliero di un negozio nelle sole domeniche.
- **(1c)** Contare in quante righe il valore di `CompetitionDistance` è mancante.
- **(1d)** Ottenere una serie col numero di negozi aperti in ciascuna data.

In [ ]:
#1a
sales.loc[sales["Customers"] >= 4000]

In [ ]:
#1b
sales.loc[sales["DayOfWeek"] == "Sun", "Sales"].mean()

In [ ]:
#1c
sales["CompetitionDistance"].isna().sum()

In [ ]:
#1d Ottenere una serie col numero di negozi aperti in ciascuna data.
sales.groupby("Date")["Store"].count()

## Indici a più livelli

Gli indici di pandas associano un'etichetta identificativa a ciascun elemento di una serie e a ciascuna riga e colonna di un DataFrame.

Finora abbiamo visto indici dove **ciascuna etichetta** è un singolo valore, ad es. un numero o una stringa, ma in alcuni casi è utile che ogni etichetta sia una **tupla di valori**.

Si pensi come analogia ad una tabella di un database relazionale con una chiave primaria composta da più colonne: ciascuna riga è identificata dalla combinazione dei valori di tali colonne. Tali combinazioni devono essere univoche, ma i valori all'interno delle singole colonne si possono ripetere: ad es. in una tabella con chiave primaria `(A, B)` non posso avere più righe con `A=1, B=2`, ma posso averne una con `A=1, B=2` e una con `A=1, B=3`.

Dato che ogni riga del nostro frame `sales` rappresenta le informazioni relative ad uno specifico negozio in una specifica data, si può dire che la combinazione di data e ID negozio identifichi ciascuna riga. Ha quindi senso che ciascuna riga sia etichettata dalla combinazione delle colonne `Date` e `Store`.

Quando impostiamo l'indice delle righe di un frame (ad es. col parametro `index_col` di `read_csv` o col metodo `set_index`) possiamo passare una sequenza di _N_ nomi di colonne per creare un _indice a più livelli_ (o _indice gerarchico_), dove l'indice è composto da _N_ sequenze di valori e ciascuna riga è così etichettata da una tupla di _N_ valori.

Trasformiamo quindi il frame `sales` impostando come indice la combinazione delle colonne `Date` e `Store`.

In [ ]:
sales = sales.set_index(["Date", "Store"])

Vediamo come viene visualizzato ora il frame `sales`.

In [ ]:
sales

`Date` e `Store`, che prima erano colonne vere e proprie, sono diventate i due livelli dell'indice delle righe. I valori dei livelli più a sinistra (qui `Date`) sono riportati solo una volta nei casi in cui si ripetono in più righe consecutive.

L'indice delle righe è ora un oggetto `MultiIndex`, composto da una sequenza di tuple (data, ID negozio).

In [ ]:
sales.index

Per estrarre la sequenza di valori per un singolo livello si può usare il metodo `get_level_values` indicando il nome del livello o la posizione.

In [ ]:
sales.index.get_level_values("Date")  # oppure (0)

### Selezione su indici multi-livello

La selezione per etichette con `loc` su frame con indici a più livelli può essere effettuata come in quelli normali, tenendo presente che le righe questa volta sono identificate da tuple invece che da singoli valori.

Internamente i valori del livello `Date` sono di tipo data, ma pandas consente di esprimerli come stringhe nel formato standard `YYYY-MM-DD` usato anche per visualizzarle.

Ad esempio per selezionare la prima riga, relativa al 1° luglio 2015 e al negozio 1, scrivo:

In [ ]:
sales.loc[("2015-07-01", 1)]

Se da qui voglio selezionare una cella specifica, ad es. la colonna `Sales`:

In [ ]:
sales.loc[("2015-07-01", 1), "Sales"]

Una possibilità ulteriore data dagli indici a più livelli consiste nell'indicare un'etichetta "parziale" che contiene solo i valori di alcuni livelli per selezionare tutte le righe con etichette che combaciano.

Nello specifico, in `sales` possiamo selezionare tutte le righe con una certa data.

In [ ]:
sales.loc["2015-07-01"]

Notare che, avendo selezionato un singolo valore del livello `Date`, questo viene rimosso dal frame risultante, che contiene solo il livello `Store` per distinguere le righe. Questo è analogo al fatto che selezionando una singola riga (o colonna) di un frame ottengo una serie il cui indice è quello delle colonne (o righe) del frame.

Possiamo anche selezionare una lista o un intervallo di date (in questo caso il livello `Date` viene mantenuto per distinguerle).

In [ ]:
sales.loc["2015-07-01":"2015-07-03"]

Per selezionare righe in base al valore del secondo livello dell'indice (`Store`) invece che del primo, possiamo indicare come valore del primo livello `slice(None)`.

_`slice(None)` equivale alla notazione `:` di intervallo senza inizio o fine, che per la sintassi di Python non si può però usare all'interno di parentesi tonde. Nella [guida di pandas](https://pandas.pydata.org/docs/user_guide/advanced.html) sono riportate sintassi alternative._

Selezioniamo ad esempio tutte le righe relative al negozio con ID 1.

In [ ]:
sales.loc[(slice(None), 1), :]

### Esercizio 2: Indici a più livelli

- **(2a)** Qual è stato il numero di clienti nel negozio con ID 42 il 1° luglio 2015?
- **(2b)** Qual è stato il ricavo totale di tutti i negozi il 2 luglio 2015?
- **(2c)** Qual è stato il ricavo totale dei negozi con ID 2, 15 e 18 il 3 luglio 2015?

In [ ]:
#2a
sales.loc[("2015-07-01", 42), "Customers"]

In [ ]:
#2b
sales.loc["2015-07-02", "Sales"].sum()

In [ ]:
#2c
sales.loc[("2015-07-03", [2, 15, 18]), "Sales"].sum()

## Raggruppamento

Abbiamo visto come calcolare statistiche (somma, media, ...) ed eseguire altre operazioni sugli interi DataFrame.

È però spesso opportuno estrarre statistiche simili oppure compiere operazioni su gruppi di dati separatamente.

Come calcolare, ad esempio, qual è la media dei ricavi per giorno della settimana?

Possiamo ottenere questa informazione con i metodi visti finora, ma in modo non del tutto immediato...

In [ ]:
# per ogni possibile valore distinto di giorno della settimana
for dow in sales["DayOfWeek"].unique():
    # estraggo i relativi valori di Sales dal frame e calcolo la media
    mean_sales_on_dow = sales.loc[sales["DayOfWeek"] == dow, "Sales"].mean()
    # stampo il giorno della settimana e la media
    print(f"{dow:>4}: {mean_sales_on_dow:6.2f}")

Per esigenze come questa, pandas offre il modo per partizionare un frame in due o più **gruppi** di righe e applicare gruppo per gruppo operazioni che solitamente sono applicate all'intero frame.

Per ottenere un DataFrame partizionato usiamo il metodo `groupby` indicando un criterio di partizionamento, che nel caso più semplice è il nome di una colonna o di un livello dell'indice. Usiamo ad esempio il giorno della settimana `DayOfWeek` per creare un gruppo per ciascun giorno della settimana.

Sull'oggetto `DataFrameGroupBy` risultante è possibile accedere a diversi attributi e metodi, ad esempio `ngroups` indica il numero di gruppi ottenuti.

In [ ]:
sales.groupby("DayOfWeek").ngroups

Il dizionario `groups` riporta invece i gruppi formati: le chiavi sono i valori distinti della colonna di raggruppamento, mentre il valore associato a ciascuna è la lista delle etichette delle righe contenute nel relativo gruppo.

In [ ]:
list(sales.groupby("DayOfWeek").groups.keys())

Col metodo `size` otteniamo il numero di righe in ciascun gruppo. Il risultato è in pratica lo stesso che si otterrebbe (ordine a parte) con `sales["DayOfWeek"].value_counts()`

In [ ]:
sales.groupby("DayOfWeek").size()

### Operazioni sui gruppi

Sul frame partizionato è possibile chiamare i metodi di aggregazione già visti per ottenere **statistiche divise per gruppi**.

Invochiamo ad esempio il metodo `mean` per il calcolo della media, specificando `numeric_only=True` per escludere le colonne non numeriche.

In [ ]:
sales.groupby("DayOfWeek").mean(numeric_only=True)

Invece di una serie con le medie globali di ciascuna colonna, si ottiene un frame con **una riga per ogni gruppo** che riporta le medie all'interno rispettivo gruppo.

Dal frame partizionato possiamo anche selezionare una singola colonna per ottenere un oggetto `SeriesGroupBy`, ovvero una serie partizionata. Su questa possiamo invocare i soliti metodi di riduzione per ottenere statistiche per gruppi limitate alla colonna selezionata. Allo stesso modo possiamo selezionare una lista di colonne.

Possiamo così ottenere la media dei ricavi per giorno della settimana che avevamo ottenuto sopra, ma in modo più semplice.

In [ ]:
sales.groupby("DayOfWeek")["Sales"].mean()

Possiamo usare `describe` per ottenere tutte le statistiche comuni per ogni gruppo.

In [ ]:
sales.groupby("DayOfWeek")["Sales"].describe()

Se si vuole cambiare il formato della tabella mettendo una statistica per riga e un gruppo per colonna, si può come per gli array NumPy usare l'operatore `.T` per trasporre un DataFrame.

In [ ]:
sales.groupby("DayOfWeek")["Sales"].describe().T

Se siamo interessati ad un insieme specifico di statistiche, possiamo usare il metodo `agg` (disponibile anche per serie e frame senza `groupby`) indicando una lista con i nomi delle statistiche.

Otteniamo ad esempio un frame che riporta per ogni giorno della settimana il ricavo complessivo e quello medio per giorno e negozio.

In [ ]:
sales.groupby("DayOfWeek")["Sales"].agg(["sum", "mean"])

Nei casi in cui sia le colonne che le statistiche selezionate sono più d'una, si ottiene un frame con un indice delle colonne a più livelli: il primo per le colonne e il secondo per le statistiche.

In [ ]:
sales.groupby("DayOfWeek")[["Sales", "Customers"]].agg(["mean", "std"])

Anche altre operazioni viste finora possono essere applicate gruppo per gruppo. Ad esempio i metodi `head` e `tail` restituiscono le prime/ultime _N_ righe di ciascun gruppo. Questo è in pratica un altro modo per selezionare alcune righe specifiche dal frame d'origine.

In [ ]:
sales.groupby("DayOfWeek").head(3)

### Raggruppamento su valori derivati

Oltre che su una colonna, i gruppi possono essere creati in base ad **altre serie con indice uguale** a quello del DataFrame, ad es. a variabili **derivate dalle colonne esistenti**.

Ipotizziamo ad esempio di voler dividere i negozi in fasce per distanza dalla concorrenza ed ottenere statistiche suddivise per tali fasce. Usando ad es. `qcut` ottengo una serie che ha lo stesso indice a due livelli di `sales` che associa una fascia di distanza a ciascuna etichetta.

In [ ]:
pd.qcut(sales["CompetitionDistance"], 3)

Questa serie può essere usata suddividere `sales` in gruppi ed estrarre statistiche per gruppo, ad es. la media giornaliera di ricavi e clienti.

In [ ]:
sales.groupby(pd.qcut(sales["CompetitionDistance"], 3))[["Sales", "Customers"]].mean()

### Chiavi di raggruppamento multiple

Possiamo combinare più criteri di raggruppamento dei tipi visti sopra per ottenere gruppi più specifici, uno per ogni combinazione possibile.

Creiamo ad esempio un raggruppamento sulle due colonne categoriche `StoreType` e `Assortment` che indicano la tipologia di negozio e di assortimento di prodotti, passando a `groupby` una lista con i due nomi.

Invocando i metodi visti sopra per ottenere statistiche per gruppi, otteniamo un frame con indice delle righe a più livelli, dove ogni livello corrisponde ad uno dei criteri di raggruppamento passati a `groupby`.

In [ ]:
sales.groupby(["StoreType", "Assortment"])[["Sales", "Customers"]].mean()

### Esercizio 3: Raggruppamento

- **(3a)** Ricavare il numero di clienti medio giornaliero suddiviso per giorno della settimana e per casi in cui era applicata o meno una promozione (`Promo`)
- **(3b)** Ricavare le medie giornaliere di ricavo e numero di clienti suddivise tra weekend (sabato e domenica) e giorni infrasettimanali.
  - su una serie `X` usare `X.isin([...])` per verificare quali valori della serie sono inclusi in una lista data
- **(3c)** In quale data il ricavo totale di tutti i negozi è stato maggiore?
- **(3d)** Per quante volte ciascun negozio è stato quello con più ricavi in una certa data? _(il negozio 1114 lo è stato 18 volte, il negozio 842 lo è stato 6 volte, ecc.)_

In [171]:
#3a
sales.groupby(["DayOfWeek", "Promo"])["Customers"].mean()

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\164302409.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sales.groupby(["DayOfWeek", "Promo"])["Customers"].mean()

DayOfWeek  Promo
Fri        False     697.350696
           True      801.712189
Mon        False     749.848226
           True      887.443845
Sat        False     606.321356
           True             NaN
Sun        False    1458.480620
           True             NaN
Thu        False     693.390211
           True      776.031746
Tue        False     665.662775
           True      803.277628
Wed        False     665.228559
           True      779.160431
Name: Customers, dtype: float64

In [172]:
#3b
sales.groupby(sales["DayOfWeek"].isin(["Sat", "Sun"]))[["Sales", "Customers"]].mean()

                 Sales   Customers
DayOfWeek
False      7279.742717  756.299110
True       5656.378001  630.312746

In [173]:
#3c In quale data il ricavo totale di tutti i negozi è stato maggiore?
sales.groupby("Date")["Sales"].sum().idxmax()

Timestamp('2015-07-13 00:00:00')

In [178]:
#3d
(
    # ordino il frame per ricavi discendenti
    sales.sort_values("Sales", ascending=False)
    # partiziono il frame per date
    .groupby("Date")
    # per ogni gruppo prendo la prima riga
    .head(1)
    # dal frame risultante prendo i valori del livello Store dell'indice
    .index.get_level_values("Store")
    # conto le occorrenze di ciascun valore
    .value_counts()
)

Store
1114    18
842      6
262      4
876      2
817      1
Name: count, dtype: int64

## Pivoting

Una _tabella pivot_ è in generale una tabella che contiene statistiche aggregate di valori provenienti da una tabella "sorgente" suddivise per gruppi.

In questo senso i frame che abbiamo ottenuto sopra tramite `groupby` possono definirsi delle tabelle pivot, dove ogni riga corrisponde ad un gruppo di dati e ogni colonna ad una statistica calcolata su ciascun gruppo.

Potremmo però voler organizzare i dati nella tabella in modo differente. Prendiamo ad esempio il ricavo medio giornaliero per tipo di negozio e di assortimento.

In [179]:
sales.groupby(["StoreType", "Assortment"])["Sales"].mean()

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\561820688.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sales.groupby(["StoreType", "Assortment"])["Sales"].mean()

StoreType  Assortment
a          a              6417.942760
           b                      NaN
           c              7776.345052
b          a             11412.990783
           b              9717.379928
           c             17526.387097
c          a              6775.873497
           b                      NaN
           c              7170.213876
d          a              6486.686994
           b                      NaN
           c              7368.128110
Name: Sales, dtype: float64

Per confrontare meglio i valori, potremmo volerli disposti in una tabella dove ad ogni riga corrisponde uno `StoreType` e ad ogni colonna un `Assortment`, o viceversa.

pandas offre operazioni sia per trasformare serie o frame esistenti basate sugli indici a più livelli, sia operazioni per creare tabelle pivot personalizzate direttamente dai dati sorgente.

### Stack/unstack

I metodi `stack` e `unstack` permettono di **riorganizzare i valori** contenuti in una serie o DataFrame **spostando i livelli degli indici**.

- `stack` sposta un livello dall'indice delle colonne a quello delle righe, per cui dati che prima erano affiancati vengono impilati (_stacked_) uno sopra l'altro.
- `unstack` al contrario sposta un livello dall'indice delle righe a quello delle colonne, rendendo affiancati dati che prima erano impilati.

In questa logica una serie è paragonabile ad un frame il cui indice delle colonne non ha livelli e c'è solamente una colonna, per cui può essere usato `unstack` per far diventare indice delle colonne un livello dell'indice delle righe.

Riprendiamo ad esempio la serie con il ricavo medio giornaliero per tipo di negozio e assortimento mostrato sopra.

In [181]:
mean_sales_by_categories = sales.groupby(["StoreType", "Assortment"])["Sales"].mean()
mean_sales_by_categories

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\1348066095.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_sales_by_categories = sales.groupby(["StoreType", "Assortment"])["Sales"].mean()

StoreType  Assortment
a          a              6417.942760
           b                      NaN
           c              7776.345052
b          a             11412.990783
           b              9717.379928
           c             17526.387097
c          a              6775.873497
           b                      NaN
           c              7170.213876
d          a              6486.686994
           b                      NaN
           c              7368.128110
Name: Sales, dtype: float64

Utilizzando `unstack`, facciamo in modo che uno dei livelli dell'indice (`StoreType` o `Assortment`) diventi l'indice delle colonne in un frame che contiene gli stessi dati della serie.

Se non è specificato nulla, il livello spostato è l'ultimo (quello più a destra), in questo caso `Assortment`.

In [182]:
mean_sales_by_categories.unstack()

Assortment             a            b             c
StoreType
a            6417.942760          NaN   7776.345052
b           11412.990783  9717.379928  17526.387097
c            6775.873497          NaN   7170.213876
d            6486.686994          NaN   7368.128110

Altrimenti è possibile indicare il nome o la posizione (prima = 0) del livello da spostare). Spostando il livello `StoreType` invece di `Assortment` otteniamo in pratica la versione trasposta (righe e colonne scambiate) del frame sopra.

In [183]:
mean_sales_by_categories.unstack("StoreType")  # oppure unstack(0)

StoreType             a             b            c            d
Assortment
a           6417.942760  11412.990783  6775.873497  6486.686994
b                   NaN   9717.379928          NaN          NaN
c           7776.345052  17526.387097  7170.213876  7368.128110

Se l'indice originale non possiede tutte le coppie di valori possibili di `StoreType` e `Assortment`, il frame conterrà valori mancanti. In questo caso specifico, anche se la serie originale non avesse esplicitamente valori `NaN`...

In [184]:
mean_sales_by_categories.dropna()

StoreType  Assortment
a          a              6417.942760
           c              7776.345052
b          a             11412.990783
           b              9717.379928
           c             17526.387097
c          a              6775.873497
           c              7170.213876
d          a              6486.686994
           c              7368.128110
Name: Sales, dtype: float64

...questi appariranno nel risultato di `unstack` in corrispondenza delle coppie `StoreType`/`Assortment` assenti.

In [185]:
mean_sales_by_categories.dropna().unstack()

Assortment             a            b             c
StoreType
a            6417.942760          NaN   7776.345052
b           11412.990783  9717.379928  17526.387097
c            6775.873497          NaN   7170.213876
d            6486.686994          NaN   7368.128110

È anche possibile assegnare un valore alternativo a `NaN` specificandolo col parametro `fill_value`.

In [186]:
mean_sales_by_categories.dropna().unstack(fill_value=0)

Assortment             a            b             c
StoreType
a            6417.942760     0.000000   7776.345052
b           11412.990783  9717.379928  17526.387097
c            6775.873497     0.000000   7170.213876
d            6486.686994     0.000000   7368.128110

Proviamo ora ad operare su un frame complesso: consideriamo la tabella con i negozi classificati come sopra, ma che include sia i totali che le medie sia dei ricavi che del numero di clienti.

In [188]:
means_by_categories = sales.groupby(["StoreType", "Assortment"])[["Sales", "Customers"]].agg(["sum", "mean"])
means_by_categories

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\1175295286.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  means_by_categories = sales.groupby(["StoreType", "Assortment"])[["Sales", "Customers"]].agg(["sum", "mean"])

                         Sales               Customers
                           sum          mean       sum         mean
StoreType Assortment
a         a           65816003   6417.942760   7361012   717.797367
          b                  0           NaN         0          NaN
          c           46673623   7776.345052   5030022   838.057647
b         a            2476619  11412.990783    390773  1800.797235
          b            2711149   9717.379928    654229  2344.906810
          c             543318  17526.387097     94854  3059.806452
c         a           14087041   6775.873497   1652050   794.636845
          b                  0           NaN         0          NaN
          c           13745300   7170.213876   1462425   762.871674
d         a           22443937   6486.686994   1958383   566.006647
          b                  0           NaN         0          NaN
          c           43825626   7368.128110   3650140   613.675185

Con `unstack` possiamo spostare un livello dalle righe alle colonne, "allargando" il frame. Il livello spostato diventa l'ultimo livello (quello più in basso) dell'indice delle colonne.

In [189]:
means_by_categories.unstack("Assortment")

               Sales                                                \
                 sum                             mean
Assortment         a        b         c             a            b
StoreType
a           65816003        0  46673623   6417.942760          NaN
b            2476619  2711149    543318  11412.990783  9717.379928
c           14087041        0  13745300   6775.873497          NaN
d           22443937        0  43825626   6486.686994          NaN

                         Customers                                            \
                               sum                          mean
Assortment             c         a       b        c            a           b
StoreType
a            7776.345052   7361012       0  5030022   717.797367         NaN
b           17526.387097    390773  654229    94854  1800.797235  2344.90681
c            7170.213876   1652050       0  1462425   794.636845         NaN
d            7368.128110   1958383       0  3650140   566.006647         NaN



Assortment            c
StoreType
a            838.057647
b           3059.806452
c            762.871674
d            613.675185

Con `stack` spostiamo invece un livello dalle colonne alle righe, "restringendo" il frame. Anche qui il livello spostato diventa l'ultimo dell'indice delle righe.

In [190]:
means_by_categories.stack(1)

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\4179308832.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  means_by_categories.stack(1)

                                  Sales     Customers
StoreType Assortment
a         a          sum   6.581600e+07  7.361012e+06
                     mean  6.417943e+03  7.177974e+02
          b          sum   0.000000e+00  0.000000e+00
          c          sum   4.667362e+07  5.030022e+06
                     mean  7.776345e+03  8.380576e+02
b         a          sum   2.476619e+06  3.907730e+05
                     mean  1.141299e+04  1.800797e+03
          b          sum   2.711149e+06  6.542290e+05
                     mean  9.717380e+03  2.344907e+03
          c          sum   5.433180e+05  9.485400e+04
                     mean  1.752639e+04  3.059806e+03
c         a          sum   1.408704e+07  1.652050e+06
                     mean  6.775873e+03  7.946368e+02
          b          sum   0.000000e+00  0.000000e+00
          c          sum   1.374530e+07  1.462425e+06
                     mean  7.170214e+03  7.628717e+02
d         a          sum   2.244394e+07  1.958383e+06
                     mean  6.486687e+03  5.660066e+02
          b          sum   0.000000e+00  0.000000e+00
          c          sum   4.382563e+07  3.650140e+06
                     mean  7.368128e+03  6.136752e+02

Se si vogliono i livelli degli indici ordinati diversamente, è possibile usare il metodo `reorder_levels` passando la lista ordinata delle posizioni originali degli indici. Dal risultato sopra spostiamo ad esempio l'ultimo livello dell'indice delle righe (`sum`/`mean`) a sinistra.

In [191]:
means_by_categories.stack(1).reorder_levels([2, 0, 1], axis=0)

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\3022490868.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  means_by_categories.stack(1).reorder_levels([2, 0, 1], axis=0)

                                  Sales     Customers
     StoreType Assortment
sum  a         a           6.581600e+07  7.361012e+06
mean a         a           6.417943e+03  7.177974e+02
sum  a         b           0.000000e+00  0.000000e+00
               c           4.667362e+07  5.030022e+06
mean a         c           7.776345e+03  8.380576e+02
sum  b         a           2.476619e+06  3.907730e+05
mean b         a           1.141299e+04  1.800797e+03
sum  b         b           2.711149e+06  6.542290e+05
mean b         b           9.717380e+03  2.344907e+03
sum  b         c           5.433180e+05  9.485400e+04
mean b         c           1.752639e+04  3.059806e+03
sum  c         a           1.408704e+07  1.652050e+06
mean c         a           6.775873e+03  7.946368e+02
sum  c         b           0.000000e+00  0.000000e+00
               c           1.374530e+07  1.462425e+06
mean c         c           7.170214e+03  7.628717e+02
sum  d         a           2.244394e+07  1.958383e+06
mean d         a           6.486687e+03  5.660066e+02
sum  d         b           0.000000e+00  0.000000e+00
               c           4.382563e+07  3.650140e+06
mean d         c           7.368128e+03  6.136752e+02

Possiamo da qui usare `sort_index` per avere prima tutte le medie e poi tutte le somme.

In [192]:
means_by_categories.stack(1).reorder_levels([2, 0, 1], axis=0).sort_index()

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\616193287.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  means_by_categories.stack(1).reorder_levels([2, 0, 1], axis=0).sort_index()

                                  Sales     Customers
     StoreType Assortment
mean a         a           6.417943e+03  7.177974e+02
               c           7.776345e+03  8.380576e+02
     b         a           1.141299e+04  1.800797e+03
               b           9.717380e+03  2.344907e+03
               c           1.752639e+04  3.059806e+03
     c         a           6.775873e+03  7.946368e+02
               c           7.170214e+03  7.628717e+02
     d         a           6.486687e+03  5.660066e+02
               c           7.368128e+03  6.136752e+02
sum  a         a           6.581600e+07  7.361012e+06
               b           0.000000e+00  0.000000e+00
               c           4.667362e+07  5.030022e+06
     b         a           2.476619e+06  3.907730e+05
               b           2.711149e+06  6.542290e+05
               c           5.433180e+05  9.485400e+04
     c         a           1.408704e+07  1.652050e+06
               b           0.000000e+00  0.000000e+00
               c           1.374530e+07  1.462425e+06
     d         a           2.244394e+07  1.958383e+06
               b           0.000000e+00  0.000000e+00
               c           4.382563e+07  3.650140e+06

### Creazione tabelle pivot

Abbiamo visto sopra come applicando opportunamente sequenze di operazioni che partono da `groupby` e finiscono con `stack` e `unstack` possiamo costruire tabelle pivot personalizzando cosa è rappresentato in ciascuna riga e ciascuna colonna.

Possiamo però ottenere un risultato simile in modo più diretto usando il metodo `pivot_table`, che permette di creare rapidamente una tabella pivot da un frame specificando:

- le colonne del frame sorgente da usare come valori (`values`, default: tutte le colonne numeriche);
- le colonne del frame da usare come livelli di righe (`index`) e di colonne (`columns`) della tabella pivot;
- una o più funzioni con cui aggregare i dati (`aggfunc`, default: "mean", media), sono valide le stesse utilizzabili in `agg`.

Ad esempio un modo alternativo per ottenere un frame simile a `means_by_categories` (solo con gli indici delle colonne scambiati) possiamo scrivere:

In [193]:
sales.pivot_table(
    values=["Sales", "Customers"],      # ricavi e numero clienti
    index=["StoreType", "Assortment"],  # per tipologia di negozio
    columns=[],
    aggfunc=["sum", "mean"],            # totali e medi giornalieri
)

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\2369606546.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  sales.pivot_table(
C:\Users\marti\AppData\Local\Temp\ipykernel_14860\2369606546.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  sales.pivot_table(

                           sum                   mean
                     Customers     Sales    Customers         Sales
StoreType Assortment
a         a            7361012  65816003   717.797367   6417.942760
          b                  0         0          NaN           NaN
          c            5030022  46673623   838.057647   7776.345052
b         a             390773   2476619  1800.797235  11412.990783
          b             654229   2711149  2344.906810   9717.379928
          c              94854    543318  3059.806452  17526.387097
c         a            1652050  14087041   794.636845   6775.873497
          b                  0         0          NaN           NaN
          c            1462425  13745300   762.871674   7170.213876
d         a            1958383  22443937   566.006647   6486.686994
          b                  0         0          NaN           NaN
          c            3650140  43825626   613.675185   7368.128110

Come altro esempio, estraiamo una tabella dove ogni riga è un giorno della settimana, ogni colonna uno `StoreType` e i valori sono i ricavi medi giornalieri nei rispettivi giorni e tipologie.

In [194]:
sales.pivot_table(
    values=["Sales"],       # ricavi giornalieri
    index=["DayOfWeek"],    # per giorno della settimana
    columns=["StoreType"],  # per tipologia di negozio
    aggfunc=["mean"],       # medi
)

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\1313940940.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  sales.pivot_table(

                  mean
                 Sales
StoreType            a             b            c            d
DayOfWeek
Fri        7101.518161  11331.023529  7057.268919  7332.487931
Mon        8117.860891  11258.102941  8061.086149  8189.407328
Sat        5009.462724   8267.279412  6029.925676  6197.798132
Sun        3969.000000  12913.132353          NaN  4833.666667
Thu        7036.472842  10813.000000  6877.655405  6965.083333
Tue        7095.372345  10542.985294  6850.005068  6750.624282
Wed        7097.016650  10895.317647  6923.533784  6844.785057

Aggiungendo l'opzione `margins=True` a `pivot_table` possiamo inoltre aggiungere una riga e una colonna di aggregazioni parziali sui gruppi delle singole righe e colonne. In pratica in questo caso possiamo aggiungere una riga con le medie complessive per tipo di negozio e una colonna con le medie complessive per giorno della settimana. Con `margins_name` indichiamo l'etichetta applicata alle due (default: `All`).

In [195]:
sales.pivot_table(
    values=["Sales"],       # ricavi giornalieri
    index=["DayOfWeek"],    # per giorno della settimana
    columns=["StoreType"],  # per tipologia di negozio
    aggfunc=["mean"],       # medi
    margins=True,
    margins_name="Tutti",
)

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\2310522015.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  sales.pivot_table(

                  mean
                 Sales
StoreType            a             b            c            d        Tutti
DayOfWeek
Fri        7101.518161  11331.023529  7057.268919  7332.487931  7232.429213
Mon        8117.860891  11258.102941  8061.086149  8189.407328  8180.631709
Sat        5009.462724   8267.279412  6029.925676  6197.798132  5566.347631
Sun        3969.000000  12913.132353          NaN  4833.666667  8764.170543
Thu        7036.472842  10813.000000  6877.655405  6965.083333  7050.713259
Tue        7095.372345  10542.985294  6850.005068  6750.624282  7007.631709
Wed        7097.016650  10895.317647  6923.533784  6844.785057  7053.122126
Tutti      6919.457834  10874.925996  6965.050300  7043.958652  7033.344905

Il valore in basso a destra è in pratica la media globale di `Sales` su tutta la tabella.

In [196]:
sales["Sales"].mean()

7033.344905260368

### Esercizio 4: Pivoting

- **(4a)** Usando `groupby` e `stack`/`unstack`, indicare in una tabella con una riga per giorno della settimana e due colonne che indicano se era applicata o meno una promozione (`Promo`) il numero di clienti giornaliero medio in ciascun caso. _(simile a esercizio 3a ma cambia la forma dei risultati)_
- **(4b)** Ottenere la stessa tabella dell'esercizio 4a usando `pivot_table`
- **(4c)** Usando `stack`/`unstack` ottenere dal frame `sales` una grande tabella con una riga per ogni data e una colonna per ogni negozio che indichi il ricavo giornaliero per ogni data e negozio
- **(4d)** Partendo dal risultato dell'esercizio precedente, contare quante volte ciascun negozio è stato quello con più ricavi in una certa data _(stesso risultato dell'esercizio 3d)_

In [197]:
#4a
sales.groupby(["DayOfWeek", "Promo"])["Customers"].mean().unstack()

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\2450242060.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sales.groupby(["DayOfWeek", "Promo"])["Customers"].mean().unstack()

Promo            False       True
DayOfWeek
Fri         697.350696  801.712189
Mon         749.848226  887.443845
Sat         606.321356         NaN
Sun        1458.480620         NaN
Thu         693.390211  776.031746
Tue         665.662775  803.277628
Wed         665.228559  779.160431

In [198]:
#4b
sales.pivot_table(
    values=["Customers"],
    index=["DayOfWeek"],
    columns=["Promo"],
    aggfunc=["mean"],
)

C:\Users\marti\AppData\Local\Temp\ipykernel_14860\2340836321.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  sales.pivot_table(

                  mean
             Customers
Promo            False       True
DayOfWeek
Fri         697.350696  801.712189
Mon         749.848226  887.443845
Sat         606.321356         NaN
Sun        1458.480620         NaN
Thu         693.390211  776.031746
Tue         665.662775  803.277628
Wed         665.228559  779.160431

In [199]:
#4c
sales["Sales"].unstack()

Store,1,2,3,4,5,6,7,8,9,10,...,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115
Date,,,,,,,,,,,,,,,,,,,,,
2015-07-01,5223.0,6431.0,8311.0,11216.0,6253.0,5804.0,11024.0,8523.0,8490.0,7896.0,...,5411.0,5738.0,7086.0,4294.0,6604.0,3701.0,10620.0,8222.0,27071.0,7701.0
2015-07-02,5558.0,6189.0,7450.0,10323.0,6035.0,5335.0,10996.0,8658.0,8395.0,6317.0,...,5256.0,5652.0,7365.0,4313.0,5829.0,3945.0,7447.0,7932.0,24898.0,6858.0
2015-07-03,4665.0,4838.0,8149.0,11543.0,4475.0,4594.0,11976.0,6535.0,8363.0,5915.0,...,5711.0,5284.0,6351.0,5181.0,4953.0,4596.0,9285.0,6942.0,23750.0,7412.0
2015-07-04,4797.0,4475.0,4482.0,9358.0,2240.0,2979.0,6559.0,3418.0,6223.0,5120.0,...,3035.0,4505.0,2942.0,3537.0,2895.0,2594.0,5837.0,5340.0,18529.0,6543.0
2015-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-06,4359.0,4132.0,6736.0,9967.0,4328.0,4508.0,10790.0,6740.0,7758.0,6143.0,...,4935.0,4157.0,5981.0,3789.0,4033.0,4256.0,7841.0,6631.0,23004.0,6501.0
2015-07-07,3650.0,4313.0,6180.0,8127.0,4036.0,4021.0,9207.0,5365.0,6940.0,5476.0,...,4620.0,3877.0,5171.0,3648.0,3892.0,3209.0,5825.0,5836.0,18466.0,5138.0
2015-07-08,3797.0,5676.0,6347.0,8620.0,4990.0,4072.0,9204.0,5322.0,5621.0,4865.0,...,4517.0,4147.0,5382.0,3886.0,3510.0,3530.0,7515.0,6361.0,20806.0,5900.0
2015-07-09,3897.0,4082.0,6613.0,9093.0,4601.0,4095.0,9608.0,5602.0,6285.0,4871.0,...,4550.0,4163.0,6025.0,3903.0,3876.0,3828.0,7026.0,6226.0,20355.0,5686.0
2015-07-10,3808.0,4384.0,6316.0,9177.0,4252.0,4530.0,9499.0,6067.0,6007.0,5747.0,...,4852.0,4182.0,5773.0,3936.0,3626.0,4197.0,6603.0,6630.0,21560.0,5844.0
2015-07-11,3530.0,2677.0,4011.0,10996.0,2023.0,3134.0,6425.0,3707.0,5076.0,4636.0,...,3187.0,4961.0,2554.0,3368.0,2675.0,2641.0,6405.0,5660.0,22092.0,7164.0
2015-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-13,5054.0,6874.0,9462.0,13550.0,7425.0,6827.0,13250.0,9117.0,10399.0,6757.0,...,7794.0,9584.0,10540.0,6963.0,6509.0,8528.0,13877.0,10104.0,28156.0,10598.0
2015-07-14,5042.0,6122.0,8625.0,12315.0,6144.0,5758.0,12294.0,8845.0,7841.0,7491.0,...,6674.0,7415.0,8611.0,6323.0,5606.0,5504.0,12557.0,7278.0,24568.0,7562.0
2015-07-15,4767.0,6406.0,8663.0,11126.0,6323.0,4582.0,10095.0,7932.0,7013.0,6423.0,...,5987.0,8103.0,6937.0,4407.0,5397.0,6254.0,9459.0,7955.0,25750.0,6039.0
2015-07-16,4427.0,5062.0,7909.0,11432.0,4963.0,5115.0,10774.0,8808.0,8113.0,6275.0,...,6146.0,6168.0,6783.0,4948.0,4722.0,4804.0,9263.0,8058.0,24366.0,6590.0
2015-07-17,4852.0,4518.0,6679.0,10514.0,4355.0,4422.0,10339.0,6728.0,6845.0,5356.0,...,5558.0,6954.0,5527.0,5010.0,4803.0,4644.0,8266.0,7740.0,23473.0,7874.0
2015-07-18,4406.0,3417.0,4258.0,9703.0,2108.0,2915.0,6861.0,3813.0,5987.0,5761.0,...,3199.0,5524.0,2321.0,3143.0,3334.0,2622.0,6888.0,5396.0,22836.0,7264.0
2015-07-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-20,4395.0,4435.0,5798.0,10283.0,4183.0,4301.0,10159.0,5956.0,7152.0,6111.0,...,5219.0,5390.0,5325.0,5621.0,3966.0,4321.0,7728.0,6351.0,23731.0,6083.0
2015-07-21,3558.0,3836.0,5600.0,9176.0,3497.0,3720.0,9169.0,5168.0,5873.0,6479.0,...,4587.0,4710.0,4489.0,4204.0,3258.0,4457.0,6612.0,4821.0,21269.0,5074.0
2015-07-22,3464.0,5093.0,5414.0,8503.0,3595.0,3469.0,8214.0,4996.0,5649.0,5561.0,...,3898.0,4797.0,4445.0,4124.0,3692.0,4021.0,6029.0,4565.0,20424.0,5342.0
2015-07-23,3769.0,4108.0,5702.0,7286.0,3713.0,3482.0,9550.0,6109.0,6471.0,6401.0,...,5004.0,5075.0,4695.0,4846.0,3901.0,3587.0,6730.0,6410.0,20564.0,6150.0
2015-07-24,3706.0,3854.0,5080.0,8322.0,3815.0,3804.0,9203.0,4917.0,5464.0,6152.0,...,4438.0,5623.0,4428.0,4415.0,3635.0,3918.0,6220.0,6399.0,19627.0,5816.0
2015-07-25,4364.0,2512.0,3878.0,9322.0,2030.0,2892.0,6574.0,3288.0,5330.0,4713.0,...,2991.0,5706.0,2084.0,3731.0,2907.0,2177.0,6216.0,4784.0,21312.0,6897.0
2015-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-27,6102.0,6627.0,8107.0,11812.0,7059.0,5723.0,14869.0,8739.0,10649.0,7212.0,...,7042.0,11221.0,10717.0,8082.0,6761.0,7742.0,14383.0,7582.0,26720.0,10712.0
2015-07-28,5011.0,5671.0,8864.0,10275.0,6083.0,4839.0,12342.0,6717.0,8751.0,6140.0,...,6037.0,9533.0,8211.0,6478.0,5282.0,6793.0,9583.0,6468.0,25518.0,8093.0
2015-07-29,4782.0,6402.0,7610.0,10514.0,5899.0,5275.0,12074.0,7029.0,7776.0,5524.0,...,5536.0,8168.0,6302.0,6212.0,4600.0,4907.0,9179.0,6640.0,25840.0,7661.0
2015-07-30,5020.0,5567.0,8977.0,10387.0,4943.0,4790.0,11560.0,8420.0,7539.0,6186.0,...,5560.0,8198.0,7187.0,5520.0,4459.0,5263.0,9652.0,7491.0,24395.0,8405.0
2015-07-31,5263.0,6064.0,8314.0,13995.0,4822.0,5651.0,15344.0,8492.0,8565.0,7185.0,...,5901.0,9433.0,6602.0,5263.0,6198.0,5723.0,9626.0,7289.0,27508.0,8680.0

In [200]:
#4d
sales["Sales"].unstack().idxmax(axis=1).value_counts()

1114    18
842      6
262      4
876      2
817      1
Name: count, dtype: int64